@font-face {
    font-family: English;
    src: url("~assets/fonts/en.otf") format("opentype");
}

@font-face {
    font-family: Persion;
    src: url("~assets/fonts/fa.otf") format("opentype");
}

.en-font {
    font-family: 'English';
}

.fa-font {
    font-family: 'Persion';
}

.all-center {
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
