<template>
  <v-app dark>
    <div class="all-center">
      <div v-if="error.statusCode === 404">
        <img src="@/assets/img/logo/404.png" width="300" />
      </div>
      <div v-else>
        <img src="@/assets/img/logo/500.png" width="300" />
      </div>
      <v-btn rounded x-large>
        <NuxtLink class="en-font" to="/">Home page</NuxtLink>
      </v-btn>
    </div>
  </v-app>
</template>

<script>
export default {
  layout: 'empty',
  props: {
    error: {
      type: Object,
      default: null,
    },
  },
  head() {
    const title =
      this.error.statusCode === 404 ? 'Page Not Found' : 'Ops Other Error';
    return {
      title,
    };
  },
};
</script>
