<template>
  <v-row>
    <v-col class="text-center">
      <nuxt-link to="/">Home</nuxt-link>
      <h1>About Me</h1>
      <h1 class="title">Name: {{ name }}</h1>
      <h1 class="title">Email: {{ email }}</h1>
      <button class="button" @click="logout">Logout</button>
    </v-col>
  </v-row>
</template>

<script>
export default {
  data() {
    return {
      name: '',
      email: '',
    };
  },
  mounted() {
    this.$axios.$get('/api/user').then((res) => {
      this.name = res.name;
      this.email = res.email;
    });
  },
  methods: {
    async logout() {
      await this.$axios.$post('/logout').then(() => {
        this.$router.push('/');
      });
    },
  },
};
</script>
