<template>
  <v-row justify="center" align="center">
    <v-col cols="12" sm="8" md="6">
      <nuxt-link to="/aboutme">About Me</nuxt-link>
      <h1 class="en-font">Home</h1>
      <form action="#" method="post" @submit.prevent="login">
        <input v-model="email" type="email" placeholder="email@email.com" />
        <input v-model="password" type="password" placeholder="********" />
        <button type="submit">Login</button>
      </form>
    </v-col>
  </v-row>
</template>

<script>
export default {
  data() {
    return {
      email: '',
      password: '',
    };
  },
  methods: {
    async login() {
      await this.$axios.$get('/sanctum/csrf-cookie').then(() => {
        return this.$axios.$post('/login', {
          email: this.email,
          password: this.password,
        });
      });
      this.$router.push('/aboutme');
    },
  },
};
</script>
